* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #dfd3c3;
}

/* header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  gap: 100px;
  background: #f0ece2;
}

.header__title {
  font-size: 3rem;
  color: #233142;
}

/* main */
.library {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.library__add {
  height: 60px;
  margin: 50px 0;
  padding: 10px 30px;
  border: none;
  font-size: 1.8rem;
  color: white;
  background-color: #596e79;
}

.library__add:hover {
  border: 3px solid white;
}

.library__books {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 100px;
}

.library__book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  border-radius: 10px;
  font-size: 0.8rem;
  background-color: white;
  text-align: center;
  color: #233142;
}

.button {
  border: none;
  width: 120px;
  font-size: 1rem;
  padding: 10px 30px;
}
.button__remove {
  background-color: #f95959;
}
/* form */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  width: 50%;
  padding: 10px 30px;
  border-radius: 10px;
  color: #233142;
  background-color: #596e79;
  display: none;
}
.form__name {
  color: white;
}

.form__submit {
  background: #071c21;
  color: white;
}

/* footer */
.footer {
  position: sticky;
  top: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  background: #f0ece2;
}

.footer__github {
  margin: auto 10px;
}
